#Ignore crypto-files
*.crp

#Except example file
!example.crp

#ignore node modules
Electron/node_modules/*

#Ignore sending and receiving folders
Electron/resources/Send/*
Electron/resources/Received/*

#Ignore config file
Electron/resources/*.conf

#Ignore log files
*.log

#ignore releases for now
Electron/release

#ignore package lock files
Electron/package-lock.json