<form data-ng-submit="ok()">
	<div class="modal-header">
		<button type="button" class="close" data-ng-click="close()">
		<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		</button>
		<h4 class="modal-title">Protect file with Password</h4>
	</div>
	<div class="modal-body">
		<p>
			Enter a passphrase here and share it with your peers. Only then they will be able to download
			the file.
		</p>

		<form role="form">		
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Password" data-ng-model="input.password" autofocus>
				<button class="btn btn-sm btn-link pull-right" type="reset">Clear</button>
				<div class="clearfix"></div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-ng-click="close()">Close</button>
		<button type="button" class="btn btn-primary" data-ng-click="ok()">Save</button>
	</div>
</form>