<!doctype html>
<html lang="en" data-ng-app="peertome">
    <head>
        <meta charset="UTF-8">
        <base href="/"/>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title data-ng-controller="TitleController">reep.io | peer-to-peer filesharing made easy</title>
        <meta name="description" content="Transfer and stream files to other clients via browser peer-to-peer."/>

        <meta name="DC.title" content="Share files directly from your browser: https://reep.io #filesharing #WebRTC #P2P">
        <meta name="DC.creator" content="@IoReep">

        <link rel="stylesheet" href="app/theme.css"/>
        <script src="app/app.bundle.js"></script>

        <link rel="shortcut icon" href="images/favicon.png" type="image/png"/>

        <meta property="og:image" content="images/reepio-cube.png">

        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(["setDomains", ["*.reep.io","*.www.reep.io"]]);
            _paq.push(["disableCookies"]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//stats.reep.io/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', '2']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="//stats.reep.io/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    </head>
    <body>
        <div class="container">
            <div class="loading-screen" data-ng-if=" ! running" data-ng-controller="LoadingCtrl">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-3">
                            <div class="loading-screen-inner">
                                reep<span class="text-primary">.io</span> is loading
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
                 data-ng-controller="DialogController">
                <div class="modal-dialog">
                    <div class="modal-content ">
                        <div class="modal-body">
                            <h4><strong data-ng-bind="title"></strong></h4>

                            <p data-ng-bind="message"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="header">
                <div class="container" data-ng-init="isNavCollapsed = true">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" ng-click="isNavCollapsed = !isNavCollapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" data-ng-href="/">
                            <img src="media/logo.png" srcset="media/logo.png 1x, media/logo-big.png 2x" alt="Logo">
                            reep<span class="text-primary">.io</span>
                        </a>
                    </div>

                    <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
                        <ul class="nav navbar-nav">
                            <li data-ng-class="{active: getIsPageActive('/')}" ng-click="isNavCollapsed = true">
                                <a data-ng-href="/">Upload<span data-ng-show="fileModel.files.length > 0">
                                (<span data-ng-bind="fileModel.files.length"></span>)
                            </span></a>
                            </li>
                            <li data-ng-class="{active: getIsPageActive('/about')}" ng-click="isNavCollapsed = true">
                                <a data-ng-href="/about">About</a>
                            </li>
                            <li class="visible-xs"><a data-ng-href="/imprint" ng-click="isNavCollapsed = true">Imprint</a></li>
                            <li class="visible-xs"><a data-ng-href="/privacy" ng-click="isNavCollapsed = true">Privacy</a></li>
                            <li>
                                <a href="https://twitter.com/IoReep" target="_blank">
                                    @IoReep
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li data-ng-class="{active: getIsPageActive('/about')}" ng-click="isNavCollapsed = true">
                                <a data-ng-href="/about#donate">Donate <i class="fa fa-heart"></i></a>
                            </li>
                            <li class="nav-divider visible-xs"></li>
                            <li class="visible-xs">
                                <p class="navbar-text">
                                    &copy; <a data-ng-href="http://reep.io/">reep.io</a>
                                    <span ng-bind="copyrightYear"></span>
                                </p>
                            </li>
                        </ul>

                        <p class="navbar-text navbar-right"
                             data-ng-hide="getIsPageActive('/d') || ! downloadId || downloadError || downloadService.downloadState == 'connecting'">
                            <a data-ng-href="/d/{{ downloadId }}">
                                <span data-ng-bind="downloadService.file.name|maxLength:15"></span>
                                <span data-p2m-progress-bar data-percent="downloadService.file.progress"></span>
                            </a>
                        </p>
                    </div>
                </div>
            </nav>
        </div>

        <div data-ng-view onload="view_Load()" data-autoscroll="true"></div>

        <footer id="footer" class="hidden-xs">
            <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <li><p class="navbar-text">&copy; <a data-ng-href="http://reep.io/">reep.io</a> <span ng-bind="copyrightYear"></span></p></li>
                        <li><a data-ng-href="/imprint">Imprint</a></li>
                        <li><a data-ng-href="/privacy">Privacy</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <!--<p class="navbar-text">-->
                                <!--<iframe src="github-btn.html?user=KodeKraftwerk&amp;repo=reep.io&amp;type=watch&amp;count=true"-->
                                        <!--style="overflow: hidden; border: 0; background: transparent" width="110"-->
                                        <!--height="20"></iframe>-->
                            <!--</p>-->
                        </li>
                    </ul>
                </div>
            </nav>
        </footer>
    </body>
</html>