<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-push-1" data-ng-show="downloadService.isStreamingRunning == true">
            <video controls autoplay width="100%" height="auto"></video>
        </div>

        <div class="col-xs-12" data-ng-show="getIsDownloadVisible()">
            <div class="row">
                <div class="col-xs-12">
                    <div id="page-download" data-ng-class="{ 'page-download-streaming': downloadService.isStreamingRunning, 'page-download-image': isImage }">

                        <p class="lead">
                            This is a peer-to-peer download. You will download the file below directly from another peer.
                            <a data-ng-href="/about">More Information</a>
                        </p>

                        <div data-ng-if="isImage" class="page-download-image-preview" data-ng-cloak>
                            <div class="col-sm-10 col-sm-push-1">
                                <img data-reepio-loading-indicator data-reepio-loading-indicator-message="Loading image preview..."
                                data-ng-attr-alt="{{ downloadService.file.name }}" data-ng-attr-title="{{ downloadService.file.name }}" data-ng-src="{{fileSystemUrl}}" class="img img-responsive" />
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="well">
                            <!-- not enough filesystem space -->
                            <div class="row" data-ng-show="downloadService.file.noFileSystem && downloadService.file.size > 524288000">
                                <div class="col-sm-12">
                                    <div class="well tile">
                                        <div class="row">
                                            <div class="col-sm-2 text-center">
                                                <span class="fa fa-warning" style="font-size: 64px;"></span>
                                            </div>
                                            <div class="col-sm-10">
                                                <h3 style="margin-top: 0;">Not enough disk space</h3>
                                                <p>
                                                    The granted disk space exceeds the file size.
                                                    The file will be saved into your memory which may cause instabilities if your memory is full.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="bg-primary">
                                        <div data-p2m-file-icon data-file-type="downloadService.file.type" class="file-icon-small"></div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-10">
                                    <div class="file-name">
                                        <h4 data-ng-attr-title="{{ downloadService.file.name }}" class="pull-left" data-ng-bind="downloadService.file.name"></h4>
                                        <span class="pull-right text-muted hidden-xs" data-ng-bind="downloadService.file.size|humanFileSize"></span>
                                    </div>

                                    <div data-p2m-progress-bar data-percent="downloadService.file.progress" data-speed="downloadService.file.bytesPerSecond" data-show-progress="true"></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <br/>
                                    <div class="btn-group-justified">
                                        <a class="btn btn-lg btn-primary" data-ng-click="downloadFile()" data-ng-show="downloadService.downloadState == 'ready' && downloadService.isStreamingRunning != true">
                                            <span class="fa fa-download"></span> Download
                                        </a>

                                        <a class="btn btn-lg btn-primary" data-ng-click="startStream()" data-ng-if="downloadService.downloadState == 'ready' && downloadService.file.isStreamAble && downloadService.isStreamingRunning == false">
                                            <span class="fa fa-play"></span> Stream
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div data-ng-show="downloadService.downloadState == 'inprogress' && downloadService.isStreamingRunning == false">
                                <div class="btn-group btn-group-justified">
                                    <a class="btn btn-lg btn-primary disabled col-xs-12">
                                        <span class="fa fa-refresh fa-spin"></span> Downloading...
                                    </a>
                                </div>
                            </div>

                            <!--<a class="btn btn-lg btn-primary col-xs-12" data-ng-click="resumeUpload()" data-ng-show="downloadService.downloadState == 'paused'">-->
                                <!--<span class="fa fa-play"></span> Resume download-->
                            <!--</a>-->


                            <a class="btn btn-lg btn-primary col-xs-12" data-ng-click="saveFile()" data-ng-show="downloadService.downloadState == 'finished'">
                                <i class="fa fa-download"></i> Save to disk
                            </a>
                            <div class="clearfix"></div>
                        </div>
                        <a id="download-frame" data-ng-attr-download="{{ downloadService.file.name }}" data-ng-attr-href="{{ downloadService.file.fileSystemUrl }}" style="display: none"></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- authentication -->
        <div class="col-md-10 col-md-push-1" data-ng-show="downloadService.downloadState == 'authentication'">
            <div id="page-download-authenticating">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="lead">
                                <strong>This file is password protected</strong><br/>
                                Please enter the correct password below to unlock and download this file.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <form data-ng-submit="doAuthentication()">
                                <div class="input-group input-group-lg">
                                    <input type="password" class="form-control text-center" data-ng-model="password" placeholder="Password">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" data-ng-click="doAuthentication()">
                                            <span class="fa fa-unlock"></span> <span class="hidden-xs">Unlock</span>
                                        </button>
                                    </span>
                                </div>
                            </form>

                            <div data-ng-if="authenticationError">
                                <alert type="danger"><span data-ng-bind="authenticationError"></span></alert>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Connecting... -->
        <div class="col-sm-10 col-sm-push-1" data-ng-show="downloadService.downloadState == 'connecting' && ! downloadError" id="page-download-connecting">
            <div class="text-center">
                <span class="fa fa-spin fa-gear" style="font-size: 32px"></span>
                <span class="fa fa-spin fa-gear" style="font-size: 64px"></span>
                <span class="fa fa-spin fa-gear" style="font-size: 16px"></span>
                <h3>Connecting to remote client...</h3>
            </div>
        </div>

        <div class="col-xs-12 text-center" id="page-download-error" data-ng-show="downloadError">
            <span class="fa fa-warning" style="font-size: 64px;"></span>
            <h3 data-ng-bind="downloadError"></h3>
            <p data-ng-show="downloadErrorDescription" data-ng-bind="downloadErrorDescription"></p>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- reep.io wide -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-6890068258895036"
                     data-ad-slot="1776785037"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
</div>