<div class="container">
    <div id="page-upload">
        <section class="row section section-page" data-ng-hide="getIsFileDropped()" id="page-upload-intro">
            <div class="row">
                <div class="col-sm-12">
                    <h1>reep<span class="text-primary">.io</span> - <span class="text-nowrap">peer-to-peer</span> in your browser</h1>
                    <p class="lead">
                        With reep.io you can transfer files directly to another browser.
                        Just point to a file you want to share. Your peer will then be able to download this file
                        directly from you. No data is stored on a server in-between.
                    </p>
                </div>
                <div class="col-sm-12">
                    <ol>
                        <li><p>Drop file(s) here</p></li>
                        <li><p>Send link to a friend</p></li>
                        <li><p>Transfer via peer-to-peer</p></li>
                    </ol>
                </div>
            </div>
        </section>

        <div id="drop-box" class="ng-hide" data-p2m-drop-zone data-max-files="8" data-files="fileModel.files" data-ng-animate data-ng-class="{ 'hasFiles': fileModel.files.length > 0}">
            <div>
                <span class="glyphicon glyphicon-plus"></span>
                Drop files here...
            </div>
        </div>

        <div data-ng-show="getIsFileDropped()">
            <div class="upload-queue">
                <div class="upload-queue-item" data-ng-repeat="file in fileModel.files" data-ng-animate>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="bg-primary">
                                <div data-p2m-file-icon data-file-type="file.rawFile.type" class="file-icon-small"></div>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <button type="button" class="close pull-right" data-ng-click="removeFile(file.uniqueUrl)">
                                &times; <span class="sr-only">Remove upload</span>
                            </button>

                            <div class="form-group">
                                <div class="file-name">
                                    <h4 data-ng-attr-title="{{ file.rawFile.name }}" class="pull-left" data-ng-bind="file.rawFile.name"></h4>
                                </div>
                                <div class="clearfix"></div>

                                <!--With clipboard support-->
                                <div ng-if="isClipboardSupported">
                                    <div class="input-group">
                                        <input type="url" class="form-control" placeholder="Generating Url..."
                                               data-ng-value="file.uniqueUrl" onclick="select()" readonly>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default btn-clipboard" type="button"
                                                    ng-disabled="!file.uniqueUrl"
                                                    ng-click="copyToClipboard(file.uniqueUrl)"
                                                    uib-tooltip="Copied to clipboard!"
                                                    tooltip-placement="left"
                                                    tooltip-trigger="{'click': 'mouseleave'}"
                                                    tooltip-popup-close-delay="2000">
                                                <span class="fa fa-clipboard"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>

                                <!--No clipboard support-->
                                <div ng-if="!isClipboardSupported">
                                    <input type="url" class="form-control" placeholder="Generating Url..."
                                           data-ng-value="file.uniqueUrl" onclick="select()" readonly>
                                </div>
                            </div>

                            <ul class="list-inline text-muted">
                                <li>
                                    <span data-ng-bind="file.rawFile.size|humanFileSize"></span>
                                </li>
                                <li data-ng-attr-title="Downloaded {{ file.totalDownloads }} times">
                                    <span class="fa fa-download"></span>
                                    <span data-ng-bind="file.totalDownloads"></span>x
                                </li>
                                <li ng-if="file.uniqueUrl">
                                    <a href="/" data-ng-click="lockFile(file)">
                                        <span class="fa" data-ng-class="{'fa-lock': file.password, 'fa-unlock': ! file.password }"></span>
                                        <span data-ng-hide="file.password">Set Password</span>
                                        <span data-ng-show="file.password">
                                            Protected
                                            <span data-ng-show="file.password.length > 10">...</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>

                            <div class="clearfix"></div>

                            <div class="upload-client-list">
                                <div class="upload-client-list-item" data-ng-repeat="client in file.clients|limitTo:6">
                                    <div class="tile tile-small" data-ng-animate>
                                        <i class="fa fa-user"></i>
                                        <div data-p2m-progress-bar data-percent="client.progress"></div>
                                    </div>
                                    <small><span data-ng-bind="client.speed|humanFileSize:0"></span>/s</small>
                                </div>
                                <div class="text-muted" data-ng-show="file.clients.length > 6">
                                    ... <span data-ng-bind="file.clients.length - 6"></span> more
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary btn-lg col-sm-12" data-ng-click="addFile()" id="btn-upload">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add or drop files...
                </button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<nav id="ads-footer-upload">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- reep.io wide -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-6890068258895036"
                         data-ad-slot="1776785037"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
    </div>
</nav>